// Silom
@font-face {
    font-family: "Silom"; 
    src: url("../fonts/Silom/Silom.svg#Silom") format("svg"), url("../fonts/Silom/Silom.eot?") format("eot"), url("../fonts/Silom/Silom.ttf") format("truetype"), url("../fonts/Silom/Silom.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
