$utilities: map-merge(
  $utilities,
  (
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      (
        values: map-merge(
          map-get(map-get($utilities, "font-weight"), "values"),
          ("medium": $font-weight-medium),
        ),
      ),
    ),
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
        rfs: false,
        responsive: true,
      ),
    ),
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          ("normal": $border-radius-normal),
        ),
      ),
    ),
  )
);
