// 右側社群 icon 
.fixedIcon{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    i{
      font-size: 48px;
    }
}
  
// 
.logo{
    font-family: $silom;
    line-height: 30px;
}

.divider{
    opacity: 1;
}

.subscribeInput{
    &::placeholder{
        color: $primary;
    }
}

.subscrieBtn{
    &:hover{
        background-color: #c9b2b3;
        border-color: #c9b2b3;
    }
}

.copyright{
    @include media-breakpoint-up(md){
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}